body {
    background: lightgrey;
    font-family: "Source Code Pro", monospace;
}

.buffer {
    background-color: white;
}

.status,
.log,
.cursor,
.line,
.selection {
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    margin: 0px;
    white-space: pre;
}

.cursor,
.line,
.selection {
    position: absolute;
}

.cursor {
    background-color: rgba(0, 0, 0, 0.25);
}

.line {
    left: 0px;
}

.selection {
    background-color: rgba(0, 0, 255, 0.25);
    top: 0px;
}